
.Main {
    background-color: #e06666;
    width: 74%;
    height: 70%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    float: right;
    padding:20px;
    padding-right: 20px;

}